.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Own CSS --- */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
  background-color: #fbfbfb !important;
}

/* bootstrap input - remove border on focus */
textarea:hover, 
input:hover,
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus,
select:focus,
.form-control:focus
{
    outline: 0px !important;
    border-color: #333333 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active
{
  outline: 0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.form-control {
  border-color: #b1aeae7e !important;
}

/* --- Container --- */
.page-container {
  height: 100vh;
  background-color: #f6f5f3 !important;
}

.div-container {
  padding-top: 85px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-container {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.section-container {
  margin: 0 auto;
  max-width: 1200px;
}

/* --- Nav Bar --- */
nav {
  background-color: #f6f5f3;
  padding-right: 0 !important;
}

.text.btn-pri {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-size: 13px;
}

.text.btn-sec {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-size: 13px;
}

.fa-magnifying-glass {
  font-size: 12px;
}

.modal-backdrop { 
  z-index: 1029 !important;  
}

.modal-content {
  background-color: #f6f5f3 !important;
}

/* --- Search Bar --- */
.search-input::-webkit-input-placeholder {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.4px;
  color: #898989 !important;
  /* text wrap */
  white-space:pre-line;  
  position:relative;
  top:-5px;
}

.search-input:-ms-input-placeholder {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.4px;
  color: #898989 !important;
  /* text wrap */
  white-space:pre-line;  
  position:relative;
  top:-5px;
}

input.search-input {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px !important;
  letter-spacing: 0.4px;
  color: #333333;
  border-color: #b1aeae7e !important;
  height: 100px;
}

/* --- Results Page - Search Bar --- */
.results-page>input.search-input {
  height: 70px;
}

/* remove select border */
.form-select {
  border: none !important;
}

/* style select */
.search-filter {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #fff;
}

/* --- Home - Title --- */
.title>h2{
  font-family: 'Comforter', cursive;
  font-size: 62px;
  overflow: hidden;
  color: #333333;
}

.title>p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
}

/* --- Home - Banner --- */
.banner {
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1618221381711-42ca8ab6e908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-position: 50% 50%;
  background-size: cover;
}

.banner>div{
  background-color: #f6f5f3f5;
}

.banner>div>p{
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}

.banner>div>p>span{
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
}

/* --- Home - Section Header --- */
.section-header>h4{
  font-family: 'PT Serif', serif;
  font-size: 19px;
  letter-spacing: 0.4px;
}

/* --- Card --- */
.project {
  cursor: pointer;
}

.project>div>h5 {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
  overflow: hidden;
}

.project>div>p {
  font-size: 11px !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px !important;
  text-transform: uppercase;
}

.project>div>img {
  width: 100%;
  height: 320px;
  object-fit: cover !important;
}

.cards-container {
  max-width: 1000px !important;
}

/* --- Search Results - Title --- */
.search-summary>p {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.search-summary>p>span {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 28px !important;
  letter-spacing: 0.4px;
  color: #333333;
}

.search-summary>span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
}

/* --- View Page --- */
.fa-arrow-left-long {
  font-size: 16px;
}

.edit-delete-back>button {
  font-family: 'Poppins', sans-serif;
  font-size: 13px !important;
  font-weight: 500 !important;
  letter-spacing: 0.8px !important;
  text-transform: uppercase;
  color: #646464;
}

/* --- View Page - Main Content --- */
.view-smalltext {
  font-family: 'Poppins', sans-serif;
  font-size: 13px !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px !important;
  text-transform: uppercase;
}

.view-title {
  font-family: 'PT Serif', serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.view-subtitle {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.view-bodytext {
  font-family: 'Poppins', sans-serif;
  font-size: 15px !important;
  letter-spacing: 0.3px !important;
}

.view-link {
  font-family: 'PT Serif', serif;
  font-size: 17px;
  font-style: italic;
}

/* --- View Page - Comments --- */
.comments-container {
  background-color: #f6f5f3 !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.comments-container>.section {
  margin: 0 auto;
  max-width: 1200px;
}

.comments>h4 {
  font-family: 'PT Serif', serif;
  letter-spacing: 0.4px;
}

.comments>div>input,
.comments>div>textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  letter-spacing: 0.4px !important;
  font-weight: 300;
}

.card-header>div>p {
  font-family: 'PT Serif', serif;
  font-size: 16px !important;
}

.card-header>div>p>span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px !important;
  font-weight: 300;
  color: #646464;
}

.card-body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px !important;
  color: #333333;
}

/* --- View Page - Modal --- */
.delete-modal>p {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 20px !important;
  letter-spacing: 0.3px !important;
  color: #333333;
}

.delete-modal>p>span {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 20px !important;
  letter-spacing: 0.3px !important;
  color: #333333;
}

.edit-modal>div>h4 {
  font-family: 'PT Serif', serif;
  letter-spacing: 0.4px;
}

/* --- Form --- */
.form .form-section {
  background-color: #fbfbfb;
}

.form .form-header {
  font-family: 'PT Serif', serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.6px;
  overflow: hidden;
  color: #333333;
}

.form .form-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  overflow: hidden;
}

.form .form-title>span {
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  font-weight: 300;
  letter-spacing: 0.3px !important;
}

.form .error-text {
  color: rgb(238, 62, 83);
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px !important;
}

.form .error-text.submit {
  color: rgb(238, 62, 83);
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px !important;
  border: 1px solid rgb(238, 62, 83);
}

.add-form::-webkit-input-placeholder {
  color: #b1aeae !important;
  font-family: 'PT Serif', serif;
  font-size: 18px !important;
  letter-spacing: 0.3px !important;
}

.add-form:-ms-input-placeholder {
  color: #b1aeae !important;
  font-family: 'PT Serif', serif;
  font-size: 18px !important;
  letter-spacing: 0.3px !important;
}

input.add-form {
  font-family: 'PT Serif', serif;
  font-size: 18px !important;
  letter-spacing: 0.3px !important;
  height: 60px;
}

textarea.add-form {
  font-family: 'PT Serif', serif;
  font-size: 18px !important;
  letter-spacing: 0.3px !important;
  height: 100px;
}

select.add-form {
  height: 60px;
  border-color: #b1aeae7e !important;
  font-family: 'PT Serif', serif;
  font-size: 18px !important;
  letter-spacing: 0.3px !important;
}

label.add-form {
  font-family: 'PT Serif', serif;
  border-color: #b1aeae7e !important;
  font-size: 18px !important;
  letter-spacing: 0.2px !important;
}

/* --- Media Query --- */
@media screen and (min-width: 768px) {
  .view-title {
    font-size: 40px;
  }

  .view-bodytext {
    font-size: 16px !important;
    letter-spacing: 0.4px !important;
  }

}